{% extends 'general/main.html' %}
{% load humanize %}

{% block content %}
<style>
@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
    padding: 1em;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 20%;
    display: block;
  }

.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
}
</style>

<body>

    <section class="jumbotron jumbotron-fluid bg-image hero-image  text-center mb-4">
        <div class="container">
            <h1 class="display-4 text-body-emphasis">Find your dream home</h1>
            <p class="lead">Search through thousands of properties for sale or rent.</p>
            <form class="d-flex justify-content-center" action="{% url 'estates:listings' %}" method="get">
                <input class="form-control" name="search_query" type="text" placeholder="Search Properties" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </section>


    <section class="mb-5">
        <h2 class="text-center mb-4">New Listings</h2>
        <div class="d-flex carousel-dark justify-content-end me-5">
            <button class="round-btn me-3" onclick="moveCarousel('prev')">
                <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
            </button>
            <button class="round-btn me-3" onclick="moveCarousel('next')">
                <span aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
            </button>
        </div>
        <div class="container-fluid">
            <div id="carouselExampleControls" class="carousel slide m-3">
                <div class="carousel-inner">
                    {% for estate in estates|slice:":15" %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            {% if forloop.counter0|divisibleby:1 %}
                                </div>
                                <div class="carousel-item">
                            {% endif %}
                        {% endif %}
                        <div class="card mb-4 h-100 shadow-md">
                            <img src="{{ estate.photo_main.url }}" class="card-img card-img-top" alt="Property Image">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="card-text mb-0">{{ estate.property_type }}</p>
                                        <h6 class="mb-0">£{{ estate.price|floatformat|intcomma }} {% if estate.listing_type == 'rent'%}pcm{%endif%}</h6>
                                    </div>
                                    <a href="{% url 'estates:property_details' pk=estate.pk %}" class="btn btn-warning">View Details</a>
                                </div>
                                <div class="mt-2">
                                    <span class="text-muted fs-6">{{ estate.title|truncatechars:65 }}</span>
                                </div>
                            </div>
                        </div>
                        
                        {% if forloop.last %}
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    

    <section>
        <div class="container-fluid">
            <div class="row mb-3 p-3 text-center bg-body-secondary justify-content-md-center">
                <div class="col-md-3">
                    <div class="card">
                        <img src="static/images/buy.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Buy a home</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="{% url 'estates:listings' %}?listing_type=sale"
                                class="btn btn-outline-primary mb-3 mt-3">Browse homes</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <img src="static/images/rent.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rent a home</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="{% url 'estates:listings' %}?listing_type=rent"
                                class="btn btn-outline-primary mb-3 mt-3">Find rentals</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
<script>
    function moveCarousel(direction) {
        const carousel = new bootstrap.Carousel(document.getElementById('carouselExampleControls'), { interval: false });
        const carouselInner = document.querySelector('#carouselExampleControls .carousel-inner');
        const cardWidth = document.querySelector('.carousel-item').clientWidth;

        let scrollPosition = carouselInner.scrollLeft;

        if (direction === 'prev' && scrollPosition > 0) {
            scrollPosition -= cardWidth;
            carouselInner.scrollTo({
                left: scrollPosition,
                behavior: 'smooth'
            });
        } else if (direction === 'next' && scrollPosition < carouselInner.scrollWidth - carouselInner.clientWidth) {
            scrollPosition += cardWidth;
            carouselInner.scrollTo({
                left: scrollPosition,
                behavior: 'smooth'
            });
        }
    }
</script>

{% endblock content %}