<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Listings</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <style>
        /* Custom styles can be added here */
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    {% include 'general/navbar.html' %}

    <div>
        {% block content %}

        {% endblock %}
    </div>

    <footer class="bg-light text-center mt-auto">
        <div class="container p-4">
            <p>© 2024 Real Estate Listings. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/9c496135e3.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById('searchInput');
        const propertyTypeSelect = document.getElementById('propertyType');
        const listingTypeSelect = document.getElementById('listingType');
        const minBedroomsSelect = document.getElementById('minBedrooms');
        const maxBedroomsSelect = document.getElementById('maxBedrooms');
        const minBathroomsSelect = document.getElementById('minBathrooms');
        const maxBathroomsSelect = document.getElementById('maxBathrooms');
        const garageCheckbox = document.getElementById('garage');
        const gardenCheckbox = document.getElementById('garden');
        const minPriceInput = document.getElementById('minPrice');
        const maxPriceInput = document.getElementById('maxPrice');

        

        function updateListings() {
            const searchParams = new URLSearchParams(window.location.search);
            
            searchParams.set('search', searchInput.value);
            searchParams.set('property_type', propertyTypeSelect.value);
            searchParams.set('listing_type', listingTypeSelect.value);
            searchParams.set('min_bedrooms', minBedroomsSelect.value);
            searchParams.set('max_bedrooms', maxBedroomsSelect.value);
            searchParams.set('min_bathrooms', minBathroomsSelect.value);
            searchParams.set('max_bathrooms', maxBathroomsSelect.value);
            searchParams.set('has_garage', garageCheckbox.checked ? 'true' : '');
            searchParams.set('has_garden', gardenCheckbox.checked ? 'true' : '');
            searchParams.set('min_price', minPriceInput.value);
            searchParams.set('max_price', maxPriceInput.value);

            const newUrl = window.location.pathname + '?' + searchParams.toString();
            window.location.href = newUrl;
            saveFiltersToStorage(); 
        }

        function saveFiltersToStorage() {
            localStorage.setItem('searchInput', searchInput.value);
            localStorage.setItem('propertyType', propertyTypeSelect.value);
            localStorage.setItem('listingType', listingTypeSelect.value);
            localStorage.setItem('minBedrooms', minBedroomsSelect.value);
            localStorage.setItem('maxBedrooms', maxBedroomsSelect.value);
            localStorage.setItem('minBathrooms', minBathroomsSelect.value);
            localStorage.setItem('maxBathrooms', maxBathroomsSelect.value);
            localStorage.setItem('garageCheckbox', garageCheckbox.checked);
            localStorage.setItem('gardenCheckbox', gardenCheckbox.checked);
            localStorage.setItem('minPriceInput', minPriceInput.value);
            localStorage.setItem('maxPriceInput', maxPriceInput.value);
        }

        function loadFiltersFromStorage() {
            searchInput.value = localStorage.getItem('searchInput') || '';
            propertyTypeSelect.value = localStorage.getItem('propertyType') || 'All';
            listingTypeSelect.value = localStorage.getItem('listingType') || 'All';
            minBedroomsSelect.value = localStorage.getItem('minBedrooms') || '0';
            maxBedroomsSelect.value = localStorage.getItem('maxBedrooms') || '6';
            minBathroomsSelect.value = localStorage.getItem('minBathrooms') || '0';
            maxBathroomsSelect.value = localStorage.getItem('maxBathrooms') || '6';
            garageCheckbox.checked = localStorage.getItem('garageCheckbox') === 'true';
            gardenCheckbox.checked = localStorage.getItem('gardenCheckbox') === 'true';
            minPriceInput.value = localStorage.getItem('minPriceInput') || '';
            maxPriceInput.value = localStorage.getItem('maxPriceInput') || '';
        }
        loadFiltersFromStorage(); 


        searchInput.addEventListener('change', updateListings);
        propertyTypeSelect.addEventListener('change', updateListings);
        listingTypeSelect.addEventListener('change', updateListings);
        minBedroomsSelect.addEventListener('change', updateListings);
        maxBedroomsSelect.addEventListener('change', updateListings);
        minBathroomsSelect.addEventListener('change', updateListings);
        maxBathroomsSelect.addEventListener('change', updateListings);
        garageCheckbox.addEventListener('change', updateListings);
        gardenCheckbox.addEventListener('change', updateListings);
        minPriceInput.addEventListener('change', updateListings);
        maxPriceInput.addEventListener('change', updateListings);

        window.addEventListener('beforeunload', function () {
            localStorage.clear()
            
        })
    });

    </script>
</html>