{% extends 'general/main.html' %}
{% load humanize %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center p-4">
                <h2>Hello, {{ request.user.first_name|title }} {{ request.user.last_name|title }}</h2>
                <div class="d-flex flex-column align-items-center text-dark text-decoration-none">
                    <a href="{% url 'users:settings' %}" class="text-dark text-decoration-none"><i class="pb-2 fa-solid fa-gear "></i>Account settings</a>   
                    <a href="{% url 'users:logout' %}" class="text-dark text-decoration-none"><i class="fa-solid fa-door-open"></i>Log out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 border-right">
            <div class="container rounded bg-light shadow-lg mt-5 mb-5">
                <div class="p-4">
                <div class="d-flex justify-content-between mb-4">
                    <h4 class="">Last Saved Properties</h4>
                    <a href="{% url 'estates:saved-properties' %}" class="text-decoration-none text-dark d-flex justify-content-center">View all saved properties</a>
                </div>
                    <div class="row">
                        {% for listing in wishlist_items %}
                            {% if forloop.counter <= 3 %}
                                <div class="col-md-4 mb-4">
                                    <div id="{{listing.id}}" class="item card h-100 border rounded shadow">
                                        <a href="{% url 'estates:property_details' pk=listing.pk %}" class="estate-card-link">
                                            <img src="{{ listing.photo_main.url }}" class="card-img-top card-img" alt="Property Image">
                                        </a>
                                        <div class="card-body d-flex flex-column justify-content-start">
                                            <div class="pt-3">
                                                <h5 class="card-title">{{listing.city}}, {{listing.zipcode}}</h5>
                                            </div>
                                            <div class="card-text">
                                                <span>{{listing.property_type}}</span>
                                            </div>
                                            <div class="price d-flex justify-content-start mt-auto">
                                                <h4>£{{ listing.price|floatformat|intcomma }} {% if listing.listing_type == 'rent'%}pcm{%endif%}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                        <p>No properties saved.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="container rounded bg-light shadow-lg mt-5 mb-5">
                <div class="p-4">
                    <h4 class="mb-4">Last Saved Searches</h4>
                    <ul class="list-group">
                        {% for search in searches %}
                            {% if forloop.counter <= 3 %}
                                <li class="list-group-item pt-2">
                                    <a class="text-decoration-none text-dark" href="{% url 'estates:listings' %}?{% for key, value in search.generate_query.items %}{{ key }}={{ value }}{% if not forloop.last %}&{% endif %}{% endfor %}">
                                        {% if search.search %}
                                            <b>{{ search.search }}</b>
                                        {% else %}
                                            <b>Location not specified</b>
                                        {% endif %}
                                        <p>{{ search.generate_description|truncatechars:260 }}</p>
                                    </a>
                                </li>
                            {% endif %}
                        {% empty %}
                        <p>No saved searches found.</p>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'estates:saved-searches' %}" class="text-decoration-none text-dark d-flex justify-content-center pt-3">View all saved searches</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}